<%-include('_partials/_header.ejs')%>
<%-include('_partials/_nav.ejs')%>

<div class="container mt-4">
    <div class="card bg-white text-dark w-100 mx-auto p-20">
        <div class="card-header bg-success text-white">
            Pago de recibo
        </div>

        <div class="card-body">
            <form action="/index" method="post">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="inputRecibo" class="form-label">Número de recibo</label>
                        <input type="number" class="form-control" id="inputRecibo" name="inputRecibo" placeholder="123" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre" name="inputNombre" placeholder="Estrella Landeros" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputDomicilio" class="form-label">Domicilio</label>
                    <input type="text" class="form-control" id="inputDomicilio" name="inputDomicilio" placeholder="Diego Rivera 137, Villa Verdde, 82190 Mazatlán, Sin." required>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="inputServicio" class="form-label">Tipo de servicio</label>
                        <select id="inputServicio" name="inputServicio" class="form-select" required>
                            <option selected value="1">Doméstico</option>
                            <option value="2">Comercial</option>
                            <option value="3">Industrial</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputKilowatts" class="form-label">Kilowatts consumidos</label>
                        <input type="number" class="form-control" name="inputKilowatts" id="inputKilowatts" placeholder="5000" required>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <button type="reset" class="btn btn-danger">Limpiar</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted">
            Ing. Maria Estrella Landeros Andrade Grupo:8-3
        </div>
    </div>
</div>
<%-include('_partials/_footer.ejs')%>
</body>

</html>



