<%- include('_partials/_header.ejs') %>
<%- include('_partials/_nav.ejs') %>

<div class="container mt-2 mb-2">
    <div class="card text-center">
        <div class="card-header" style="background-color: #22b687a9;">
            <strong>Folio de recibo: </strong><%= inputRecibo %>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo de Servicio</th>
                        <th scope="col">Kilovatios consumidos</th>
                        <th scope="col">Costo por Kilovatio</th>
                    </tr>
                </thead>

                <!-- Cálculos -->
                <%
                    let subtotal = 0, precioKilovatio = 0, descuento = 0, total = 0;

                    switch(inputServicio){
                        case "1": precioKilovatio = 1.08; break;
                        case "2": precioKilovatio = 2.5; break;
                        case "3": precioKilovatio = 3.0; break;
                    }

                    subtotal = (precioKilovatio * inputKilowatts).toFixed(2); 
                    impuesto = (subtotal * 0.16).toFixed(2);

                    if(inputKilowatts > 0 && inputKilowatts <= 1000)
                        descuento = (subtotal * 0.10).toFixed(2);
                    else if(inputKilowatts > 1000 && inputKilowatts <= 10000)
                        descuento = (subtotal * 0.20).toFixed(2);
                    else if(inputKilowatts > 10000)
                        descuento = (subtotal * 0.50).toFixed(2);

                    total = (parseFloat(subtotal) - parseFloat(descuento) + parseFloat(impuesto)).toFixed(2);

                    let tipo;

                    switch(inputServicio){
                        case "1": tipo = "Doméstico"; break;
                        case "2": tipo = "Comercial"; break;
                        case "3": tipo = "Industrial"; break;
                    }
                %>

                <tbody>
                    <tr>
                        <td scope="row"><%= inputNombre %></td>
                        <td><%= tipo %></td>
                        <td><%= inputKilowatts %></td>
                        <td><%= precioKilovatio %></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="row">
                <div class="col">
                    <img src="/img/images.png" alt="Amlo_CFE" class="img-fluid" width="200%" height="400px">
                    <img src="/img/CFE-AMLO.webp" alt="Amlo_CFE" class="img-fluid" width="200%" height="400px">
                    <img src="/img/images.png" alt="Amlo_CFE" class="img-fluid" width="200%" height="400px">
                </div>
                <div class="col-8 border p-4" style="font-family: 'Arial', sans-serif; background-color: #f8f9fa;">
                    <center>
                        <h3 class="titulo mt-3"><strong>RESULTADO</strong></h3>
                    </center>
                    <form class="mt-3">
                        <div class="mb-3">
                            <label for="subtotal" class="form-label">Subtotal</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" disabled id="subtotalInputGroup"
                                    value=<%= subtotal.toLocaleString() %> readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="impuesto" class="form-label">Impuesto</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" disabled id="impuestoInputGroup"
                                    value=<%= impuesto.toLocaleString() %> readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="descuento" class="form-label">Descuento</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" disabled id="descuentoInputGroup"
                                    value=<%= descuento.toLocaleString() %> readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="total" class="form-label">Total a pagar</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" disabled id="totalInputGroup"
                                    value=<%= total.toLocaleString() %> readonly>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                </div>
                <div class="card-footer text-white" style="background-color: #1ca378;">
                    Ing. María Estrella Landeros Andrade
                </div>
                </div>
                </div>
                
                

<%- include('_partials/_footer.ejs') %>
</body>

</html>
