/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8; /* Fondo más claro */
    color: #333; /* Color de texto principal */
    margin: 0;
}

/* Estilos del título con fondo degradado */
.titulo {
    background: linear-gradient(to right, #589237, #2ecc71); /* Fondo degradado azul a verde */
    color: #fff;
    padding: 40px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilos del separador */
.separador {
    height: 3px;
    margin: 30px auto;
    background-color: #bbb; /* Color de separador más claro */
    width: 70%;
}

/* Estilos de enlaces de navegación */
nav {
    display: flex;
    justify-content: center;
    background-color: #1ba816; /* Fondo azul */
    padding: 15px 0;
}

nav a {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #2ecc71; /* Cambio de color al pasar el mouse a verde más claro */
}

/* Estilos del contenedor principal */
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

/* Estilos de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Línea de separación entre filas */
}

.table th {
    background-color: #61a509; /* Fondo azul oscuro para encabezados */
    color: #fff;
}

/* Nuevos estilos para los cuadros en el contenedor principal */
.mejorado .box {
    width: calc(30% - 20px);
    margin: 20px;
    padding: 30px;
    background: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
}

.mejorado .box:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

.mejorado .figure {
    overflow: hidden;
}

.mejorado .figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.mejorado .figure:hover img {
    transform: rotate(5deg) scale(1.1); /* Efecto de rotación y escala al pasar el mouse */
}

.mejorado .figure:before,
.mejorado .figure:after {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #13ac57; /* Color azul */
    position: absolute;
    top: -20px;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.mejorado .figure:after {
    right: 0;
}

.mejorado .figure:hover:before,
.mejorado .figure:hover:after {
    transform: rotate(360deg); /* Rotación completa al pasar el mouse */
}

/* Agrega un rectángulo decorativo al cuadro de resultados */
.mejorado .decoracion {
    width: 30px;
    height: 80px;
    background-color: #2ecc71; /* Color verde más claro */
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    z-index: -1;
}

