<center>
    <footer class="footer bg-dark">
        <div class="container">
            <span class="text-light">
                Compañia de Luz @Derechos reservados 2024
                
            </span>
        </div>
    </footer>
</center>