<nav class="navbar navbar-expand-lg bg-gradient-dark mt-2">
  <div class="container-fluid">
    <a class="navbar-brand text-light m-0 p-0" href="/">
      <img src="/img/cfe.png" alt="Logo" width="45" height="45" class="d-inline-block align-text-center">
    </a>
    <button class="navbar-toggler bg-success btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-dark" aria-current="page" href="/index">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Opciones
          </a>
          <ul class="dropdown-menu bg-gradient-dark">
            <li><a class="dropdown-item text-dark" href="/index">Pago de Recibo</a></li>
            <li><a class="dropdown-item text-dark" href="#">Acerca de</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-dark" href="#">Contactos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-dark" aria-disabled="true">Contratar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


